li a:active {
    border: 1px solid blue;
    border-radius: 10px;
    border-bottom: 5px solid blue;
}

#card {
    background: #FF416C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav-item {
    padding-left: 20px;
}

#shoesize {
    padding-left: 10px;
    border-left: 4px solid black;
}